<h1 id="contact responsive_2em" class="text-center" style="margin-top:100px">
    Contact
</h1>
<div class="du-flex" >
  <div class="card" style="width: 400px;">
    <img class="card-img-top" src="src/img/06_.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title responsive_2em" style="font-size:2em">Coiffure</h5>
      <p class="card-text"></p>
      <p href="" class="btn btn-primary responsive_2em" style="font-size:2em">06 16 91 37 35  </p>
    </div>
  </div>

    <div class="card" style="width: 400px;">
        <img class="card-img-top" src="src/img/05_.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title responsive_2em" style="font-size:2em">Pose d'ongles </h5>
          <p class="card-text"></p>
          <p href="" class="btn btn-primary responsive_2em" style="font-size:2em">07 51 22 46 96</p>
        </div>
      </div>




      <div class="card" style="width: 400px;">
        <img class="card-img-top" src="src/img/07_.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title responsive_2em" style="font-size:2em">Soins de beauté</h5>
          <p class="card-text"></p>
          <p href="" class="btn btn-primary responsive_2em" style="font-size:2em">06 17 02 36 56</p>
        </div>
      </div>

<!--


        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/img/pose_cil/IMG-20220111-WA0025.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">pose de cils et épilation</h5>
          <p class="card-text"></p>
          <a href="" class="btn btn-primary">06 00 00 00 00</a>
        </div>
      </div>
-->


</div>


<style>
    .du-flex{
        display:flex ; 
        justify-content: space-around;
        margin-top: 100px; 
        flex-wrap: wrap;
    }
    .du-flex div {
 margin:50px; 
    }
</style>