<h1 id="contact" class="text-center" style="margin-top:100px">
    Contact
</h1>
<div class="du-flex" >
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="src/img/photos COIFFURE/IMG-20220111-WA0028.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Coiffure</h5>
      <p class="card-text"></p>
      <a href="" class="btn btn-primary">06 16 91 37 35  </a>
    </div>
  </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/img/ongles/IMG-20220131-WA0024.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Pose d'ongles </h5>
          <p class="card-text"></p>
          <a href="" class="btn btn-primary">07 51 22 46 96</a>
        </div>
      </div>

<!--


        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="src/img/pose_cil/IMG-20220111-WA0025.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">pose de cils et épilation</h5>
          <p class="card-text"></p>
          <a href="" class="btn btn-primary">06 00 00 00 00</a>
        </div>
      </div>
-->


</div>


<style>
    .du-flex{
        display:flex ; 
        justify-content: space-around;
        margin-top: 100px; 
        flex-wrap: wrap;
    }
    .du-flex div {
 margin:50px; 
    }
</style>